.odometer{


        -webkit-animation: slide-up 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-up 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

}





@-webkit-keyframes slide-up {
    0% {


        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
    100% {


      -webkit-transform: translateY(0);
              transform: translateY(0);
    }

  }
  @keyframes slide-up {
    0% {


        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
    100% {


      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  